<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Pricing</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
        </div> -->
        <div class='d-flex'>
            <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
                <div class="navbar-nav">
                    <a class="nav-link" href="#">About Me</a>
                    <a class="nav-link" href="#">Blogs</a>
                    <a class="nav-link" href="#">Projects</a>
                    <a class="nav-link" href="#">Contact</a>
                </div>
                <!-- <a class="nav-link" href="#">Home</a> -->
            <!-- </div> -->
        </div>
    </div>
  </nav>