<nav class="navbar fixed-top navbar-expand-md navbar-dark navbar-bg-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img height='35' src="{{'assets/img/logo.png' | relative_url}}" alt="logo">
        </a>
        <div class='d-flex'>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
                <div class="navbar-nav">
                    <a class="nav-link" href="/#">Home</a>
                    <a class="nav-link" href="/#about">About</a>
                    <a class="nav-link" href="/#projects">Projects</a>
                    <a class="nav-link" href="/#blogs">Blogs</a>
                    <a class="nav-link" target='_blank' href="{{'assets/img/resume_xiaoyi_liu.pdf' | relative_url}}" >Resume</a>
                </div>
                <!-- <a class="nav-link" href="#">Home</a> -->
            <!-- </div> -->
        </div>
    </div>
  </nav>