*{
    color: #ffffff;
}
.card-body div{
    text-overflow: ellipsis; 
    overflow: hidden; 
    display: -webkit-box;       
    line-height: 20px;      /* distance between lines */
    -webkit-line-clamp: 6;  /* number of lines to show */
    -webkit-box-orient: vertical; 
}
.card-body div p {
    text-align: justify;
}

.color-1, .color-2{
    padding-top: 4rem;
}

.card-bg-color{
    /* fix border */
    box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.40);
}

.card:hover{
    transform: scale(1.05);
    /* fix border */
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
}
.navbar-bg-color, .card-bg-color, .color-1{
    background-color: #282929;
}

.color-2, .footer-bg-color{
    background-color: #322D2D;
}

.non-hover{
    pointer-events: none;
}
.card-size{
    width: 20rem;
    height: 20rem;
}


.self{
    width: 20rem;
    height: 18rem;
    clip-path: circle(42.5%);
}



.box{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.icon-size{
    font-size: 24px;
}


.bio{
    padding: 1rem;
}

.content .card-text{
    text-overflow: ellipsis; 
    overflow: hidden; 
    display: -webkit-box;       
    line-height: 20px;      /* distance between lines */
    -webkit-line-clamp: 6;  /* number of lines to show */
    -webkit-box-orient: vertical; 
}
/*----------------card hover with overlap----------------*/
.image{
    opacity: 1;
    transition: 2s ease;
    /* limit image height in card */
    height: 250px;
}

.content{
    opacity: 0; /* hidden current element */
    /* set current div */
    position: absolute;
    /* set position  */
    padding: 1rem;
    top: 4%;
    left: 4%;
    /* set time and way when display */
    transition: 1s ease;
}

.buttons{
    opacity: 0;
    position: absolute;
    left: 9%;
    bottom: 22%;
    transition: 1s ease;
}
.card:hover .image{
    opacity: 0.2;
}

.card:hover *{
    opacity: 1;
}

/*----------------------------*/

