<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fix dymamic title -->
    <title>Home</title>
    <!-- fix script includes -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="{{'assets/css/index.css'| relative_url }}"><link>
</head>
<body>
    {% include navbar.html%}
    <div>
        <img src="#" class="img-fluid" alt="header">
    </div>
    <div class='container-fluid color-1' id='about'>
        <h1 class="text-center">About</h1>
            
        <br>
    </div>
    <div class='container-fluid color-2' id='projects'>
        <h1 class="text-center">Projects</h1>
        <div class='row p-5'>  
            <div class='col-lg-4 col-md-6'>
                <div class="card m-3 card-bg-color card-size">
                    <img class='image' src="{{'assets/img/rails_project.png' | relative_url}}" class="card-img-top" alt='rails project'>
                    <div class="content">
                        <div class="card-title text-center fw-bold">Commercials Board</div>
                        <p class='card-text'>The web app provides a platform for small business owners to spread their commercials.</p>
                        <p class='card-text'>Features: User Authentication, CRUD, Comments.</p>
                    </div>
                    <div class='buttons'>
                        <a target='_blank'href="https://github.com/lxy878/commercials_board_app" class="btn btn-primary">Details</a>
                        <a target='_blank'href="https://drive.google.com/file/d/1eCDRmt0_87kmQ_RNf4-nGNbY9-Cuk28J/view" class="btn btn-primary">Demo</a>
                    </div>
                    <div class='card-body text-center'>
                        <span class="badge rounded-pill bg-info text-dark">Rails</span>
                        <span class="badge rounded-pill bg-info text-dark">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS/SCSS</span>
                        <span class="badge rounded-pill bg-info text-dark">Sqlite</span>
                    </div>
                </div>
            </div>  
            <div class='col-lg-4 col-md-6'>
                <div class="card m-3 card-bg-color card-size">
                    <img class='image' src="{{'assets/img/react_rails.png' | relative_url}}" class="card-img-top" alt='Rails with React'>
                    <div class="content">
                        <div class="card-title text-center fw-bold">Online Store</div>
                        <p class='card-text'>The web application is e-commerce for anyone who sells their creative products and who purchases some unique goods.</p>
                        <p class='card-text'>Features: User Authentication, User Authorization, ActiveStage, Trade.</p>
                    </div>
                    <div class='buttons'>
                        <a target='_blank' href="https://github.com/lxy878/online-store" class="btn btn-primary">Details</a>
                        <a target='_blank' href="https://drive.google.com/file/d/1Zfon1Vj3uHVKxPuS-f2ywF7TkXwWxqPq/view" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-body text-center">
                        <span class="badge rounded-pill bg-info text-dark">Rails API</span>
                        <span class="badge rounded-pill bg-info text-dark">Reactjs</span>
                        <span class="badge rounded-pill bg-info text-dark">Redux</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS</span>
                        <span class="badge rounded-pill bg-info text-dark">SQLite</span>
                    </div>
                </div>
            </div>       
            <div class='col-lg-4 col-md-6'>
                <div class="card m-3 card-bg-color card-size">
                    <img class='image' src="{{'assets/img/js_rails.png' | relative_url}}" class="card-img-top" alt='...'>
                    <div class="content">
                        <div class="card-title text-center fw-bold">Secret Recipe</div>
                        <p class='card-text'> A web application stores your recipes on the server.</p>
                        <p class='card-text'>Features: SAP, Create, Read, Delete</p>
                    </div>
                    <div class='buttons'>
                        <a target='_blank' href="https://github.com/lxy878/Secret_recipe_app" class="btn btn-primary">Details</a>
                        <a target='_blank' href="https://drive.google.com/file/d/1TGQ-SGi8VI56s9io47EeDb-Xjjl7sSMR/view" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-body text-center">
                        <span class="badge rounded-pill bg-info text-dark">Rails API</span>
                        <span class="badge rounded-pill bg-info text-dark">HTML</span>
                        <span class="badge rounded-pill bg-info text-dark">CSS</span>
                        <span class="badge rounded-pill bg-info text-dark">JavaScript</span>
                        <span class="badge rounded-pill bg-info text-dark">SQLite</span>
                    </div>
                </div>
            </div>     

            <div class='col-lg-4 col-md-6'>
                <div class="card m-3 card-bg-color card-size">
                    <img class='image' src="{{'assets/img/sinatra_course_register.png' | relative_url}}" class="card-img-top" alt='sinatra course register'>
                    <div class="content">
                        <div class="card-title text-center fw-bold">Course Register CMS</div>
                        <p class='card-text'>The content management system is designed for the departments of majors in colleges.</p>
                        <p class='card-text'>Features: User Authentication, User Authorization, CRUD</p>
                    </div>
                    <div class='buttons'>
                        <a target='_blank' href="https://github.com/lxy878/sinatra_course_register_cms" class="btn btn-primary">Details</a>
                        <a target='_blank' href="https://drive.google.com/file/d/1plBLQgjdnp0GFbcbNFsbjPcJTLkZkrPU/view" class="btn btn-primary">Demo</a>
                    </div>
                    <div class="card-body text-center">
                        <span class="badge rounded-pill bg-info text-dark">Ruby</span>
                        <span class="badge rounded-pill bg-info text-dark">Sinatra</span>
                        <span class="badge rounded-pill bg-info text-dark">Rake</span>
                        <span class="badge rounded-pill bg-info text-dark">Shotgun</span>
                        <span class="badge rounded-pill bg-info text-dark">SQLite</span>
                    </div>
                </div>
            </div>          
        </div>
        <br>
    </div>
    
    <div class='container-fluid color-1' id='blogs'>
        <h3 class="text-center" >Blogs</h3>
        <div class='row p-5'>
        {% for post in site.posts %}
            <div class='col-lg-4 col-md-6'>
                <div class="card m-3 card-bg-color">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{post.url}}">{{post.title}}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{post.date| date_to_string: 'ordinal', 'US'}}</h6>
                        <div>{{post.content}}</div><br>
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class='container-fluid color-2' id="contact">
        <h3 class="text-center" >Contact</h3>
        <br>
    </div>
    {%include footer.html%}
</body>
</html>