<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include navbar.html%}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

                <header class="post-header">
                    <h1 class="post-title p-name" itemprop="name headline">{{post.title}}</h1>
                    <p class="post-meta">
                        <time class="dt-published" datetime="2021-02-03T09:32:55-05:00" itemprop="datePublished">
                            {{post.date}}
                        </time>
                    </p>
                </header>

                <div class="post-content e-content" itemprop="articleBody">
                    {{post}}

                </div><a class="u-url" href="/react_rails_project" hidden></a>
            </article>

        </div>
    </main>
    {{ page }}
</body>

</html>